/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
2) font-family: 'Poppins', sans-serif;
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
* {
    box-sizing: border-box !important;
}
html {
    scroll-behavior: smooth;
    background: #efefef;
}
body {
    /* margin: 20px auto 80px 200px; */
    margin: auto;
    /* max-width: 1200px; */
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}
/* input, label {
    display:block;
} */
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover{
    color: #0fb0d3;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0 
}
h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px 
}
h2 {
    font-size: 22px;
    border-left: solid gray 13px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h3 {
    font-size: 18px 
}
h4 {
    font-size: 16px 
}
h5 {
    font-size: 14px 
}
h6 {
    font-size: 13px 
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1 
}
button:focus {
    outline: none;
}
ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}
a, .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
img {
    max-width: 100%;
    height: auto;
}
input[type='range'] {
    height: 10px;
    -webkit-appearance: none;
    color: #e2e2e2;
    border-radius: 10px;
    /* margin-top: -1px; */
}
input[type='range'] ::-webkit-slider-thumb{
    color: #0fb0d3;
}
.title-container{
    padding: 1rem;
    background: #0fb0d3
}
.app{
    margin: auto auto 80px 200px;
    /* position: fixed;
    left: 200px;
    width: 100%; */
    /* height: 100%; */
}
.app-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* height: 100%; */
    /* width: 100%; */
    /* position: relative; */
}
.input-area{
    background: #efefef;
    padding: 1.5rem;
}
.chart-container{
    background: #ffffff;
    padding: 1.5rem;
    margin-bottom: 80px;
    /* position: relative; */
}
.chart-display-options{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 1rem;
    width: 100%;
    height: 80px;
    background: #efefef;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}
.options-area{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* margin: auto auto 0px 200px; */
    position: fixed;
    bottom: 80px;
    /* margin: auto auto auto 200px; */
    width: 100%;
    padding-left: 200px;
}
.info-area{
    margin: auto;
    max-width: 900px;
    padding: 40px;
}
.property{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.property label{
    padding-left: 3px;
}
.footer {
    position: fixed;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    background-color: #161616;
    color: white;
    text-align: center;
    z-index: 1000;
}
.navbar-title{
    padding: 10px;
    text-transform: uppercase;
    border-style: solid;
    margin-bottom: 40px;
}
.navbar-menu{
    padding-top: 5px;
}
.navbar-item{
    border-bottom-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 57px; */
}
.navbar-item a {
    color: white;
    padding: 5px;
}
.navbar-item a:hover{
    color: #0fb0d3;
}
.navbar-item a, .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar {
    z-index: 1000;
    position: fixed;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    background-color: #161616;
    color: white;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #0fb0d3;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 8px 9px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0fb0d3;
}
:focus {
    outline: 0;
}
.styled-table input[type='number']{
    width: 45px;
    height: 40px;
} 
.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}
.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}
.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}
button {
    /* border: 0; */
    margin: 2px;
    padding: 5px;
    cursor: pointer;
}
a.readmore_bt {
    color: #fff;
    font-weight: 300;
    text-decoration: underline !important;
}
ul.icon_hu {text-align: center;}
ul.icon_hu h3 {color: #fff; font-size: 26px; padding: 0; font-weight: 500;}
ul.icon_hu li {padding: 10px 3px; display: inline-block;}
ul.loca {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
ul.loca li {
    color: #fcfbfb;
   padding: 0px 30px;
   font-size: 18px;
 
}
ul.loca li a {
    padding-right: 16px;
    color: #fcfbfb;
    margin-top: 4px;
}
ul.social_link {
   display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
ul.social_link li {
   display: inline-block;
    padding-right: 4px;
    margin: 0px 4px;

}
ul.social_link li a  {
   font-size: 24px;
    color: #161616;
    background: #0fb0d3;
    border-radius: 80px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 41px;
    justify-content: center;
}
ul.social_link li a:hover {
    color: #fff;
}